{% load static %}
<html>
    <head>
        <title>Planner</title>
        <link href="{% static 'planner/style.css' %}" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <form action="{% url 'add' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add task"/>
        </form>


        <ul>
            {% for task in tasks %}
            <a href="{% url 'toggle' task.id %}">
                {% if task.done %}
                <li class="task-completed">{{ task.title }}</li>
                {% else %}
                <li>{{ task.title }}</li>
                {% endif %}
            </a>
            {% endfor %}
        </ul>
    </body>
</html>